nav {
	background-color: #ef6c00;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
}

.dropdown-content li > a, .dropdown-content li > span {
      color: #000;
}

.btn, .btn-default {
	background-color: #EF6C00;
}

.control-label {
	font-size: 1em;
}

main {
	margin-top: 20px;
}

.right-border {
	padding-right: 16px;
	margin-right: 16px;
	border-right: 1px solid #000;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */







.road-blocked {
	background-color: rgb(255, 190, 188);
}

.road-blocked td, .road-blocked a {
	color: rgb(114, 46, 45);
}

.inline {
	display:inline;
}

.edit{
	margin-bottom:6px;
}

.main-info {
	margin-top: 60px;
}

a:hover {
	text-decoration: underline;
}

table tbody .active-mag, table tbody .road-blocked-mag {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

table tbody .active-mag td, table tbody .road-blocked-mag td {
	padding: 12px;
}