{% extends "base.html" %}

{% block pagetitle %}
  All Clients
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      {% for client in clients %}

        <div class="col s12">
          <div class="card-panel black-text">
            <div class="card-title">
              <a class="waves-effect waves-light btn right" href="{{ url_for('main.edit_client', id=client.id) }}">Edit Client</a>
              <h4><a href="{{ url_for('main.client', id=client.id) }}">{{ client.name }}</a></h4>
            </div>
              <p>Contact: <a href="mailto:{{ client.email }}">{{ client.contact }}</a></p>
              <p>Address: {{ client.address }} </p>
              <p>Phone: {{ client.phone }} </p>
              <p>Notes: {{ client.note }}</p>
          </div>
        </div>

      {% endfor %}
      
    </div>
  </div>

{% endblock %}