{% extends "base.html" %}

{% block pagetitle %}
  All Clients
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      {% for user in users %}

        <div class="col s12">
          <div class="card-panel black-text">
            <div class="card-title">
              <a class="waves-effect waves-light btn right" href="{{ url_for('main.edit_user', id=user.id) }}">Edit User</a>
              <h4><a href="{{ url_for('main.user', id=user.id) }}">{{ user.name }}</a></h4>
            </div>
            {% for task in user.tasks %}		
            <div class="row">
              <div class="col s12">
                <div class="card-panel black-text {{ task.status }}">
                  <div class="card-title">
                    <a href="{{ url_for('main.edit_task', id=task.id) }}" class="waves-effect waves-light btn right">Edit Task</a>
                    <h5><a href="{{ url_for('main.section', id=task.section.id) }}">{{ task.section.mag_section }}</a> - <a href="{{ url_for('main.task', id=task.id) }}">{{ task.name }}</a></h5>
                  </div>
                  <p>Assigned to: <a href="{{ url_for('main.user', id=task.employee.id) }}">{{ task.employee }}</a></p>
                  <p>Due Date: {{ moment(task.due_date).format('MMMM Do YYYY') }}</p>
                  <p>Description: {{ task.description }}</p>
                  <p>Notes: {{ task.note }}</p>
                </div>
              </div>
            </div>
         	{% endfor %}
          </div>
        </div>

      {% endfor %}
      
    </div>
  </div>

{% endblock %}