{% extends "base.html" %}

{% block pagetitle %}
    {{ client.name }}
{% endblock %}

{% block content %}
<div class="container">

  <h4>Client Info</h4>
  <div class="row">
    <div class="col s12">
      <div class="card-panel black-text">
        <div class="card-title">
          <a class="waves-effect waves-light btn right" href="{{ url_for('main.edit_client', id=client.id) }}">Edit Client</a>
          <h4>{{ client.name }}</h4>
        </div>
          <p>Contact: <a href="mailto:{{ client.email }}">{{ client.contact }}</a></p>
          <p>Address: {{ client.address }} </p>
          <p>Phone: {{ client.phone }} </p>
          <p>Notes: {{ client.note }}</p>
      </div>
    </div>
  </div>

  <h4>Magazines</h4>
  {% for mag in client.magazines %}
    {% include 'ind_magazine.html' %}
  {% endfor %}

    
</div>
{% endblock %}