<div class="col s12">
  <div class="card-panel black-text {{ mag.status }}">
    <div class="card-title" style="clear:both;">
      <a href="{{ url_for('magazines.edit_magazine', id=mag.id) }}" class="waves-effect waves-light btn right">Edit Magazine</a>
      <h4 class="grey-text text-darken-4"><a href="{{ url_for('clients.client', id=mag.owner.id) }}">{{ mag.owner }}</a><br>
          <a href="{{ url_for('magazines.magazine', id=mag.id) }}">{{ mag.name }}</a></h4>
    </div>
    <p>Page Count: {{ mag.page_count }}</p>
    <p>Contacts:
        <ul class="collapsible" data-collapsible="accordion">
            {% if clients %}
                  {% for contact in client.contacts %}
                    {% include 'contact.html' %}
                  {% endfor %}
            {% elif mag %}
                {% for contact in mag.owner.contacts %}
                    {% include 'contact.html' %}
                  {% endfor %}
            {% endif %}
        </ul>
    </p>
    <p>Notes: {{ mag.note }}</p>
    <a class="btn-floating btn-large waves-effect waves-light red right" href="{{ url_for('tasks.add_task', mag=mag.id) }}">
        <i class="material-icons">+</i></a>
  </div>
</div>
