<div class="row">
  <div class="col s12">
    <div class="card-panel black-text {{ task.status }}">
      <div class="card-title">
        <a href="{{ url_for('tasks.edit_task', id=task.id) }}" class="waves-effect waves-light btn right">Edit Task</a>
        <h5><a href="{{ url_for('clients.client', id=task.magazine.owner.id) }}">{{ task.magazine.owner.name }}</a></h5>
        <h5><a href="{{ url_for('magazines.magazine', id=task.magazine.id) }}">{{ task.magazine.name }}</a></h5>
        <h5><a href="{{ url_for('tasks.task', id=task.id) }}">{{ task.name }}</a></h5>
      </div>

      <p>Assigned to: 
      {% if task.users %}
        {% for user in task.users %}
          <a href="{{ url_for('auth.user', id=user.id) }}">{{ user.name }}</a>
        {% endfor %}
      {% endif %}</p>
      <p>Due Date: {% if task.due_date %}
          {{ moment(timestamp=task.due_date, local=True).format('MMMM Do YYYY') }}
          {% endif %}
      </p>
      <p>Description: {{ task.description }}</p>
      <p>Pages: {% for page in task.pages %} {{ page.number }} {% endfor %}</p>
      <p>Comments:</p>
      {%  for comment in task.comments %}
          {% include 'ind_comment.html' %}
      {% endfor %}
    </div>
  </div>
</div>
