{% extends "base.html" %}

{% block pagetitle %}
  {{ mag.name }}
{% endblock %}

{% block content %}
<div class="container">

  <div class="center-align">
    <a href="{{ url_for('main.client', id=mag.owner.id) }}" class="waves-effect waves-light btn">{{ mag.owner.name }}</a> <a href="{{ url_for('main.edit_client', id=mag.owner.id) }}" class="waves-effect waves-light btn">Edit Client</a>
  </div>

  {% include 'ind_magazine.html' %}

  <h4 class="main-info">Tasks</h4>
    {% for task in mag.tasks %}
        {% if task.active==True %}
            {% include 'ind_task.html' %}
        {% endif %}
    {% endfor %}
  
</div>
{% endblock %}