{% extends "base.html" %}

  {% block pagetitle %}
    {{ task.name }}
  {% endblock %}

{% block content %}
<div class="container">

  <div class="center-align">
    <a href="{{ url_for('main.client', id=task.magazine.owner.id) }}" class="waves-effect waves-light btn">{{ task.magazine.owner.name }}</a> <a href="{{ url_for('main.edit_client', id=task.magazine.owner.id) }}" class="waves-effect waves-light btn">Edit Client</a>
    <a href="{{ url_for('main.magazine', id=task.magazine.id) }}" class="waves-effect waves-light btn">{{ task.magazine.name }}</a>
    <a href="{{ url_for('main.edit_magazine', id=task.magazine.id) }}" class="waves-effect waves-light btn">Edit Magazine</a>
  </div>


  <div class="col s12">
      <div class="card-panel black-text {{ task.status }}">
        <div class="card-title">
          <a href="{{ url_for('main.edit_task', id=task.id) }}" class="waves-effect waves-light btn right">Edit Task</a>
        </div>
        <p>Assigned to: {% if task.employee %}<a href="{{ url_for('main.user', id=task.employee.id) }}">{{ task.employee.name }}</a>{% endif %}</p>
        <p>Due Date: {{ moment(task.due_date).format('MMMM Do YYYY') }}</p>
        <p>Description: {{ task.description }}</p>
        <p>Notes: {{ task.note }}</p>
      </div>
    </div>
	
</div>
{% endblock %}